* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

/* This is first section of this Web or header */
.header {
  background-image: url(images/banner/banner1.png);
  background-size: cover;

  height: 900px;
}
.banner {
  padding-top: 220px;
  text-align: right;
  padding-right: 210px;
  padding-left: 800px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  /* text-align: right; */
  /* align-items: stretch; */
}
.banner-description {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 15px;
  color: #444343;
}
.btn-design {
  border: 0;
  border-radius: 5px;
  background: #fd6e0a;
  /* margin-bottom: 166px; */
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px 20px 26px;
  color: #ffffff;
}
.btn-design:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #d8b59c;
}

/* Thus is history section design */
.section-container-1 {
  margin-top: 135px;
  margin-left: 210px;
  margin-right: 230px;
}
.section-for-flex {
  display: flex;
  gap: 90px;
  align-items: center;
}
.history-of-past {
  margin-right: 322px;
  /* margin-bottom: 215px; */
}
.history-title {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 300px;
}
.history-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  /* margin-right: 500px; */
  /* margin-bottom: 16px; */
}
ul {
  list-style: none;
  width: 350px;
  color: #444343;
  padding: 10px;
}

ul li:before {
  content: "✓";
  color: #46f31a;
}

/* This year plans of me/what i will in this year */
.section-container-2 {
  margin-top: 135px;
  margin-left: 230px;
  margin-right: 220px;
}
.plans {
  text-align: center;
  margin-bottom: 55px;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
}
.plans-flex-section {
  display: flex;
  gap: 85px;
  justify-content: space-around;
}
.plans-flex-sub-section {
  align-items: center;
  box-shadow: 0px 6px 50px rgba(188, 190, 161, 0.419);
  height: 250px;
  padding-top: 25px;
  border-radius: 5%;
}
.plans-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #151414;
  margin-bottom: 16px;
  margin-top: 24px;
}
.plans-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-bottom: 135px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* This is my actual goal in next 6-10 months  */

.section-container-3 {
  margin: 130px 230px;
}
.goal {
  text-align: center;
  margin-bottom: 90px;
  font-size: 50px;
}
.goal-flex-section {
  display: flex;
  gap: 100px;
}
.goal-sub-section {
  width: 569px;
  height: 723.3px;
  text-align: center;
  box-shadow: 0px 6px 50px rgba(181, 161, 190, 0.453);
  border-radius: 20%;
  height: 500px;
  /* display: block; */
}
.goal-title {
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 25px;
}
.goal-sub-title {
  margin-bottom: 25px;
  font-size: 20px;
}
.goal-description {
  padding-left: 0;
  margin-bottom: 40px;
}

/* Gradient section */
.gradient-design {
  margin: 130px 230px;
  background: linear-gradient(to left, rgba(240, 96, 39, 0), #f15b22),
    url(images/watch.png);
  background-repeat: no-repeat;
  padding: 60px 617px 40px 64px;
  border-radius: 8px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.2);
}
.gradient-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

/* this is footer section design */
.footer-container {
  background: #151414;
  height: 577px;
  color: #ffffff;
}
.footer-section-flex {
  display: flex;
}
.footer-sub-section-1 {
  margin-top: 130px;
  margin-left: 200px;
  margin-right: 225px;
}
.footer-section-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
  line-height: 52px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.inline {
  display: flex;
  gap: 20px;
}
.subscribe {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 31px;
}
.footer-sub-section-2 {
  margin-right: 230px;
  margin-top: 130px;
}
.email-box {
  width: 325px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 0;
  padding-left: 10px;

  font-weight: 400;
  font-size: 18px;
}
.footer {
  text-align: center;
  padding-top: 50px;
}
